<!-- wp:template-part {"slug":"header","tagName":"header","className":"gm-header-part","area":"header"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0"},"blockGap":"0"}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignfull" style="margin-top:0"><!-- wp:pattern {"slug":"generation-maine/hero"} /-->

<!-- wp:pattern {"slug":"generation-maine/about"} /-->

<!-- wp:pattern {"slug":"generation-maine/creators"} /-->

<!-- wp:pattern {"slug":"generation-maine/follow"} /-->

<!-- wp:pattern {"slug":"generation-maine/mpi"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","area":"footer"} /-->
